@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-sec .swiper-button-next:after, .swiper-sec .swiper-button-prev:after {
     content: 'none';
}

#myTab [aria-selected='true'] {
     background: #50E5FA;
     color: #222;

}

@-webkit-keyframes scroll {
     0% {
          transform: translateX(0);
     }

     100% {
          transform: translateX(calc(-250px * 7));
     }
}

@keyframes scroll {
     0% {
          transform: translateX(0);
     }

     100% {
          transform: translateX(calc(-250px * 7));
     }
}

.slider {
     height: 100px;
     margin: auto;
     overflow: hidden;
     position: relative;
}

.slider::before, .slider::after {
     content: "";
     height: 100px;
     position: absolute;
     width: 200px;
     z-index: 2;
}

.slider::after {
     right: 0;
     top: 0;
     transform: rotateZ(180deg);
}

.slider::before {
     left: 0;
     top: 0;
}

.slider .slide-track {
     -webkit-animation: scroll 40s linear infinite;
     animation: scroll 40s linear infinite;
     display: flex;
     width: calc(250px * 14);
}

.slider .slide {
     height: 100px;
     width: 250px;
}

.brans:after, .brans:before {
     background: linear-gradient(27deg, #50E5FA 0%, #342982 73.00%, #352E85 100%, #373E8F 100%, #2E0068 100%);
}

#accordion-collapse [aria-expanded='true'] {
     background: transparent;

}

.menu:hover .menu-box {
     opacity: 1;
     visibility: visible;
     top: 56px;
     transition: all 0.5s ease-in-out;
}

@media (max-width: 991px) {
     .menu-box {
          display: none;
     }

     .menu-show .menu-box {
          display: block;
     }
}